body{
background-color: #dafbff;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: black
	url('https://media.giphy.com/media/3ohzdOrcdpiD26TPt6/giphy.gif')
	 no-repeat center center;	
	z-index: 99999;
}



.naman-centerheader {
  text-align: center;
  background-color: white;
}

#mypic{
        border: 4px solid whitesmoke;
    box-shadow: 7px 2px 12px black;
    margin: 17px 1px;
   margin-bottom: 77px;
}

.about{
  background-color: black;
  font-weight: bold;
color: #15d5bd;
    text-align: center;
 text-shadow: 2px 2px 15px #16ccb6;
    border: 5px double;
    border-radius: 12px;
    margin: 6px 1px;

     box-shadow: 2px 2px 50px #16d8c1;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgb(217, 255, 228);
  /*height: 100px;*/
}

.item2 {
  background-color:rgb(255, 255, 218);
  /*height: 100px;*/
}

.item3 {
  background-color:rgb(199, 199, 255);
  /*height: 100px;*/
}




table {
  border-spacing: 35px 0;
    font-weight: bold;
    border: 7px solid #0f0f0f;
    padding: 13px;
    margin: auto;
    width: 25%;
    background-color: #0060b4;
    color: whitesmoke;
    box-shadow: 2px 2px 21px #8d0000;
}
th{
  color: pink;
}
th, td {
    border-right: 2px solid rgb(180, 180, 180);
}
 
th:last-child, td:last-child {
    border-right: none;
}
#contacts{
    background-color: grey;
    display: block;
    padding: 12px;
    height: 400px;
    font-weight: bold;
    /* margin: 0px 10px; */
    text-align: center;
}
a.my{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sofia';font-size: 18px;
    margin-left: 37px;
    border: 2px solid black;
    padding: 1px 12px;
    border-radius: 31px;
    color: whitesmoke;
    background-color: #0070b2;
}
a.my:hover{
    color: red;
    border: 2px solid rgba(0, 234, 31, 0.793);
}

.x{
    background-color: pink;
  font-weight: bold;
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
        box-shadow: 2px 2px 8px #00779b;
}

.jumbotron-fluid{
      padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* filter: blur(8px); */
    -webkit-filter: blur(0.2px);
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 3;
    background-position: 1% 1%;
}
.jumbotron{
  margin-bottom: 1rem;
  padding: 8rem 2rem;
}
div.hey{
      background-color: rgba(0,0,0, 0.4);
    color: #00ffde;
    font-weight: bolder;
    border: 2px solid;
    width: 76%;
    padding: 20px;
    text-align: center;
    margin: auto;
    /* margin-left: 150px; */
    border-radius: 60px;
    border: 7px double #00ffde;
    text-shadow: 1px 2px 30px ##00FFD3;
    text-shadow: 2px 2px 10px #00ffde;
    box-shadow: 5px 5px 80px #00ffde;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 250px;
    bottom: 0;
    height: 44px;
    margin: 12px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
        background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eee;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.Skills {
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #eee;
  /*align-items: center;
  justify-content: center;
  align-content: center;*/
  display: flex;
  flex-direction: column;
  /* width: 25%;*/
  text-align: center;
  align-items: center;
  /* margin-left: initial;*/
}
.Skills img {
  height: 100px;
  /*display: flex;
  flex-direction: column;
  float: left;*/
  /*padding-left: 0.3cm;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}


